amazon-textract-caller
boto3
docx2txt
faiss-cpu
Flask
flask-bcrypt
flask-cors
flask-login
Flask-SQLAlchemy
gunicorn
langchain
langchain-aws==1.0.0
langchain-community
libmagic
openpyxl
pandas
psycopg2-binary
pypdf==4.2.0
python-dotenv==1.0.1
python-magic
python-pptx
requests
unstructured