boto3
deep_translator
faiss-cpu
Flask
Flask-Cors
Flask-SQLAlchemy
gunicorn
langchain
langchain-aws==1.0.0
langchain-community
langchain-core
numpy
openai-whisper
psycopg2-binary
python-dotenv==1.0.1
sounddevice